a {
  color: #e8effc;
  text-decoration: none;
  margin: 0 2.2rem;
  font-size: 1.7rem;
}

a:hover {
  color: #c5e6ff;
}

#nav {
  margin: 2.5rem auto;
  text-align: center;
}

body {
  background-color: #385972;
  color: #e8effc;
}

#main {
  text-align: center;
  margin-bottom: 15rem;
}

.photo {
  margin: 14rem auto;
  width: 20rem;
  height: 20rem;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  border: 7px solid #c5e6ff;
}

.column {
  margin-top: -7rem;
}

#about {
  width: 100%;
  height : 700px;
  background-color: #e8effc;
  padding-top: 50px;
}

#about-box {
  text-align: left;;
  margin: 50px auto;
  color: #385972;
}

#work {
  width: 100%;
  height: 700px;
  color: #e8effc;
}

.project {
  width: auto;
  height: 240px;
  background-color: white;
  margin-top: 50px;
}
