/* custom styles */
header {
  background: rgba(0,0,0,0.5);
}

body {
  text-align: center;
  background-position: center;
  background: url("http://i.imgur.com/pFtg3Qb.png");
  background-size: cover;
  color: White;
  font-family: 'Allerta Stencil', sans-serif;
}
h1 {
  font-size: 92px;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 25px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  padding: 10px;
  background: rgba(86,36,36,0.5);

}
li {
  font-size: 22px;
  display: inline;
  padding: 0px 50px 0px 50px;
}
